<h1>Cursos</h1>

<ul>
    <li>Código: Rs10</li>
    <li>Nome: Rails 10</li>
    <li>Descrição: rails 10 acabou de sair!!! Por que vc deve parar de usar o 3 e mudar pro 10</li>
</ul>

<ul>
    <li>Código: Ang40</li>
    <li>Nome: Angular 40</li>
    <li>Descrição: OMG angular ta imparavel wth</li>
</ul>